/* *{
    border: 1px solid red;
} */

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.header, .footer{
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    align-items: center;
    background-color: #1f2937;
}

h1.logo{
    color: #f9FAf8;
    font-size: 24px;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  color: #898a8c;
  font-size: 18px;
}

.hero-banner{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.right-side{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:250px;
    background-color: #a9abad;;
    padding: 40px;
    color: white;
    font-size: 20px;
    margin: 100px 0px;
}

.left-side{
    display: flex;
    flex-direction: column;
    padding: 100px;
    max-width: 600px;
}

.left-side h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.left-side p {
    font-size: 18px;
    color: #d4d4d5;
    margin-top: -15px;
}

button{
    background-color: #3882f6;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
}

.information{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 3em auto;
    color: #898a8c;
   
}

.square1, .square2, .square3, .square4{
    border: 3px solid #3882f6;
    width: 175px;
    height: 175px;
    border-radius: 10px;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
     
}

.block p{
    width: 200px;
    font-size: 18px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c8c9ca;
    text-align: center;
    padding: 80px;

}

.wrapper{
    display: flex;
    margin: auto;
    justify-content: center;

}
.quote h1 {
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    max-width: 800px;
    margin: auto;
    
}

.quote p{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
}

.banner4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 250px;
}

.cta{
    background-color:#3882f6 ;
    border-radius: 8px;
    width: 900px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-right{
    border: 2px solid white;
    width: 125px;
    height: 40px;
    border-radius: 10px;
}

.content-left{
    display: flex;
    flex-direction: column;
}
.content-left h1{
    font-size: 24px;
    padding: 10px;
}

.content-left p{
    color: #f0f0f0;
    padding: 10px;
    margin-top: -30px;
}

.footer a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  color: #ffffff;
  font-size: 18px;
  padding: 20px;
}